
<style>

</style>
<div class="container content-section">

	<h1 class="text-center page-title">Start Analysis</h1>

	<div class="text-center padding-10">Please enter the URL of your company's website</div>

	<div class="text-center padding-10">
		<form class="form-inline">
		  <div class="form-group">
		    <div class="input-group" style="position: relative">
		      <input type="text" class="form-control input-lg long-input" ng-model="input.companyName" id="company_url" placeholder="Company Name">
		      <div class="input-clear" ng-click="clearInput()" ng-hide="!input.companyName"><i class="fa fa-times"></i></div>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-lg btn-primary btn-squared" ng-disabled="loading" ng-click="analyzeWithName()">
		  	<span ng-show="loading">Loading ... </span>
		  	<span ng-hide="loading">Start Analysis</span>
		  </button>
		</form>
	</div>

	<div ng-hide="!loading" class="text-center" style="margin: 30px">
		<img src="img/big_preloader.gif" />
	</div>

	<div ng-hide="!list.length || loading">

		<div class="card news-summary">
			<h2 class="page-title text-center">{{ input.companyName }}</h2>
			<span class="news-summary-score">Score: {{ averageScore | number: 2}}</span>
			<span class="sore-icon score-positive fa-stack fa-lg" ng-show="averageScore > 0">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
			</span>
			<span class="sore-icon score-negative fa-stack fa-lg" ng-show="averageScore < 0">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
			</span>
		</div>

		<div class="card">
			<highchart id="pie-chart" config="pieChartConfig"></highchart>
		</div>

		<div class="card" ng-repeat="item in list">
			<p><strong><a href="{{ item.reference }}" target="_blank">{{ item.title }}</a></strong></p>
			<p>{{ item.summary }}<p>

			<div class="news-meta text-right">
				<div class="row">
					<div class="col-sm-6 text-left">
						<span style="line-height: 37px; padding-left: 10px" ng-repeat="date in item.date"> {{ date + '000' | date:'medium' }}</span>
					</div>
					<div class="col-sm-6 text-right">
						<span>Score: {{ item.score | number:2 }}</span>
						<span class="sore-icon score-positive fa-stack fa-lg" ng-show="item.sentiment == 'positive'">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
						</span>
						<span class="sore-icon score-negative fa-stack fa-lg" ng-show="item.sentiment == 'negative'">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-thumbs-down fa-stack-1x fa-inverse"></i>
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
